:root {
    --red: #FF3B30;
    --green: #34C759;
    --blue: #007AFF;
    --gray-0: #f2f2f8;
    --gray-1: #E5E5EA;
    --gray-2: #D1D1D6;
    --gray-3: #C7C7CC;
}

.feed-item {
    background-color: var(--gray-0);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
}

.inline {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.inline h6,
.inline p {
    margin-right: 8px;
}

.icon-info {
    display: flex;
    margin-bottom: 16px;
}

.icon-text h6 {
    line-height: 1.5;
    margin: 0;
}

.availability-switch:checked {
    background-color: var(--green);
    border-color: var(--green);
}

.form-switch .form-check-input {
    height: 1.5rem;
    width: 3rem;
}

.login {
    width: 75%;
}

